.filter-grid {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .filter-grid {
    grid-template-columns: 1fr;
  }
}

.show-desktop {
  display: none;
}

.show-mobile {
  display: none;
}

@media (min-width: 769px) {
  .show-desktop {
    display: table-row;
  }
  
  .show-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .show-desktop {
    display: none;
  }
  
  .show-mobile {
    display: table-row;
  }
}

